*{
    margin: 0px;
}
header{
 padding: 10px;
 background-color: rgb(154, 154, 225);
 
 
 color: beige;
}
header nav img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0px;
    
    
}
header nav {
    display: flex;
}
header nav li{
    
    
    list-style: none;
}


footer{
    text-align: center;
    background-color: gray;
    padding: 20px;
}