*{
    margin: 0px;
}
header{
    padding: 10px 5%;
    background-color: #003366;
    position: sticky;
    
    color: rgb(247, 247, 239);
    top: 0;
    z-index: 1000;
    opacity: 0.9;
}

header h1{
    padding-left: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}
.imgbox{
    height: 100px;
    width: 100px;    
}
header nav img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0px;
    opacity: 20;
    object-fit: cover;
    zoom: 1.;
    overflow: hidden;

    
    
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header nav li{
    gap: 25px;
    display: flex;
    list-style: none;
}
header nav li a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease;
    color: beige;

}
header nav li a:hover{
    color: aquamarine;
}

.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
}

.hamburger span{
    width: 25px;
    height: 3px;
    background-color: beige;
    border-radius: 2px;
    transition: 0.3s;
}


footer{
    text-align: center;
    background-color: rgb(65, 65, 65);
    padding: 20px;
    color: white;
}

.into {
    height: 100vh;
    background-image: url(../assets/images/islamabad-campus.jpg)  ;
    background-blend-mode: darken;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(246, 248, 246);
    text-align: center;
    padding: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
}
/* .into p{
    background-color: blue;

} */

/* button{
    margin: 20px;
    background-color: rgb(25, 37, 196);
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;


} */
.btn{
    margin: 30px;
    background-color: rgb(25, 37, 196);
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-bottom: 3px;
}
.btn:hover{
    color: white;
    background-color:rgb(43, 43, 86);
}

/* news section */
.news{
    padding: 40px 20px;
    text-align: center;
    background-color: #f8f9fa;
}
.news h2{
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.news-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
    
    border-bottom: 3px solid #eee;
}
.article a div{
    padding: 15px;
    text-align: left;
}
.article a div h3{
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #2c3c4c;
}
.article a div p{
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 8px;
}
.article a{
    color: inherit;
    text-decoration: none;
    display: block;
}
.article{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.article:hover{
    transform: scale(1.1);
}
/* .article span{
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background-color: #003366;
} */
.grid{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   gap: 20px;
   justify-items: center;
   justify-items: stretch;
}
.hero{
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    padding: 0 5%;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div1{
    flex: 1;
    display: flex;
    justify-content: center;
}
.div1 img{
    width: 90%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    height: auto;

}
.div2 p{
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: #555;
}
.div2 h1{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #003366;
}
.div2{
    flex: 1;
    color: #222;
    padding-left: 50px;
}


/* Registration */
.form{
    display: flex;
    background-color: #fff;
    padding: 35px 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
    margin: 60px auto;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    
}
.form:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 0,0,0.18);
}

.form input, 
.form select{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: all 0.3s ease;
    outline: none;

}

.form label{
    font-weight: 600;
    color: #333;
    margin-bottom: 4px;
    font-size: 14px;
}
   
.form input:focus, 
.form select:focus{
    border-color: #4a63e7;
    box-shadow: 0 0 0 3px rgba(74, 99, 231, 0.2);
}

.form input[type="radio"],
.form input[type="checkbox"]{
    width: auto;
    margin-right: 6px;
}

.termCondition{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}
.termCondition:hover{
    color: #4a63e7;
}
.form h2{
    font-size: 2rem;
    margin-bottom: 30px;
    color: #555;
    text-align: center;
}


/* profile */

.profile{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2f2;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;

}
.prosection{
    background: white;
    padding: 25px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 380px;
}
.prosection h2{
    text-align: center;
    color: #2e3b9f;

}
.info{
    margin-top: 20px;
    line-height: 1.6;
}
.info strong{
 color: #333;
}






/* Campus */
.campus{
    padding: 40px 20px;
    text-align: center;
    background-color: #f8f9fa;
}
.campus h2{
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}
.campus p{
    color: #555;
    max-width: 700px;
    margin: 0 auto 40px;
}
.sub-campus{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sub-campus:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}
.sub-campus div h3 a{
    text-decoration: none;
}
.sub-campus p{
    color: #555;
    margin: 0 15px 15px;
}
.sub-campus p{
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 8px;
}

.campus-img{
    width: 100%;
    height: 200px;    
    object-fit: cover;
    transition: transform 0.3s ease;
}

.campus-img:hover{
   transform: scale(1.2);
   opacity: .9;
}

.grid-campus{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 20px;
   justify-items: center;
   justify-items: stretch;
}

